<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Transfer to Ladok | KTH</title>
  <link rel="stylesheet" type="text/css" href="{{prefix_path}}/dist/index.css">
</head>
<body>
  <header role="banner">
    <div class="container-fluid">
      <div class="container">
        <div class="header-container__top">
          <figure class="block figure defaultTheme mainLogo" data-cid="1.77257" lang="sv-SE">
            <img class="figure-img img-fluid" src="//kth.se/polopoly_fs/1.77257.1550147376!/KTH_Logotyp_RGB_2013-2.svg" alt="KTH logotype" width="70" height="70">
          </figure>
          <h1 class="block siteName">Transfer to Ladok</h1>
        </div>
      </div>
    </div>
    <div id="gradientBorder"></div>
  </header>
  <div class="container main">
    <div class="c2l2">
      <div id="root"></div>
    </div>
  </div>
  <script src="{{prefix_path}}/dist/index.js"></script>
</body>
</html>
